:root {
    --primary-color: #1995ad;
    --secondary-color: #A1D6E2;
    --light-color: #F1F1F2;
    --dark-color: #BCBABE;
}

.category{

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    background: var(--light-color);
}

a{
    color: #333;
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    width: 100%;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: .55rem;
    line-height: 1.3;
}

/* header холбоо барих хэсэг */

.header{
    max-width: var(--max-width);
    margin: auto;
    /* padding: 0 2rem; */
    overflow: hidden;
    background: rgb(25, 149, 173);
    text-align: center;
}

.header-contact,
.header-fc,
.header-page,
.header-phone{
    display: inline;
    overflow: auto;
    padding: 30px;
}

/* Utility */
.container{
    max-width: var(--max-width);
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}

/* Navigation */
#main-nav{
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 2;
}

#main-nav .container{
    display: grid;
    grid-template-columns: 3fr 0fr;
    padding: 0.6rem;
    align-items: center;
}

/* .current,
.current-1,
.current-2,
.current-3{
    padding: 1px;
    margin: 1px;
} */

#main-nav .logo{
    width: 80px;
    padding-left: 20px; 
    /* margin-left: 80px; */
}

#main-nav ul{
    justify-self: end;
    display: flex;
}
#main-nav ul li a{
    padding: 0.75rem;
    font-weight: bold;
    margin: 20px;
}

#main-nav ul li a:hover{
    color: var(--secondary-color);
}

#showcase{
    /* padding: 20rem; */
    position: relative;
    height: 500px;
    
}

#showcase:before{
    content: '';
    border: #333 solid 1px;
    background: url('../img/cover.jpg') no-repeat bottom/ cover;
    position: absolute;
    /* top: 0; */
    /* left: 0; */
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

/* asdfjklsdhlgjsdalgflasg;lasglasdhgsdhflsdahflksahdlfhsa;dkhs;adhgsdhg;sahgawgihwpqghaslh=============
sadjlgfa;s/gk'asdg'sakhdgwog9h;sadkssdfjhifghwoigshdflkashf;lahf;sihwiefh;kshdfk;djlfjsah;sadg
sldljsajhgldkhg'alhhhhhhhkdsa'lllllllllllllllllllllllgggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg
ashd;gggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggdsakl */

/* Нүүр хуудасны хичээл */

.product{
    position: relative;
    overflow: visible;
    padding: 20px;
    margin-top: 10px;

}

.product-category{
    padding: 0 10vw;
    font-size: 20px;
    display: flex;
    flex-flow: row;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
}

.product-category-category{
    padding: 5px;
    color: #333;
    border: 1px solid #707070;
    /* background: rgb(255, 255, 255);  */
    border-radius: 5px;
    left: 10px;
    top: 10px;
    font-weight: bold;
    margin-left: 700px;

    /* text-transform:capitalize;
    background: #fff;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    height: 35px;
    width: 150px;
    left: 10px;
    top: 10px; */
}

.product-container{
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth; 
}

.product-container::-webkit-scrollbar{
    display: none;
}

.product-card{
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
}

.product-image{
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
    border-radius: 20px;
    border: 1px solid #ccc;
    box-shadow: 3px 3px rgb(194, 192, 192); 
    cursor: pointer;
}

.product-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.discount-tag{
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #009688;
    right: 10px;
    top: 10px;
    text-transform: capitalize;
    font-weight: bold;
}

.actual-price{
    position: absolute;
    padding: 5px;
    text-decoration: line-through;
    color: #ff0606;
    background: rgb(255, 255, 255); 
    border-radius: 5px;
    left: 10px;
    top: 10px;
    font-weight: bold;
}

.price{
    position: absolute;
    text-transform: capitalize;
    padding: 5px;
    left: 10px;
    top: 60px;
    background: #fff;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    font-weight: bold;
}

.card-btn{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}

.product-card:hover .card-btn{
    opacity: 1;
}

.card-btn:hover{
    background: #009688;
    color: #fff;
}

.product-info{
    width: 100%;
    height: 20px;
    padding-top: 10px;
}

.product-brand{
    text-transform: lowercase;
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    cursor: pointer;
}

.product-brand:hover{
    color: #009688;
}

.product-lesson,
.product-time{
    font-size: 12px;
    display: inline;
    overflow: auto;
    padding: 5px;
}

.product-view,
.product-students{
    font-size: 12px;
    display: inline;
    overflow: auto;
    padding: 8px;
}


.pre-btn,
.nxt-btn{
    border: none;
    width: 2vw;
    height: 30%;
    position: absolute;
    top: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    /* background: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, #fff 100%); */
    cursor: pointer;
    z-index: 9;
}

.pre-btn{
    left: 0;
    margin-left: 4%;
    /* transform: rotate(180deg); */
}

.nxt-btn{
    right: 0;
    margin-right: 4%;
    transform: rotate(180deg);
}

.pre-btn img,
.nxt-btn img{
    opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img{
    opacity: 1;
}

.collection-container{
    width: 100;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.collection{
    position: relative;
}

.collection img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.collection p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 50px;
    text-transform: capitalize;
}

.collection:nth-child(3){
    grid-column: span 2;
    margin-bottom: 10px;
}
/* Сургалтын давуу талууд  */

/* ======================================================================================================================================================================================================================== */

.py-2{
    background:rgb(236, 236, 236) ;
}

.advantage{
    max-width: var(--max-width);
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, 5fr);
    /* background-color: rgb(255, 255, 255); */
    margin: 80px;
}

.article-container{
    padding: 50px;
}

.row{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.icon-row{
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

/* Мэдээлэл авах хэсэг */

/* ================================================================================================================================================================================================================================================================================================================================================== */

.information{
    /* max-width: var(--max-width); */
    margin: auto;
    padding: 0 20rem;
    padding-bottom: 3rem;
    overflow: hidden;
    background: #1995ad;
}

.information-section{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.information-searching,
.information-search{
    display: inline;
    overflow: auto;
    margin-top: 20px;
}

.information-input{
    background-color: #1995ad;
}

.information-searching{
    text-transform: capitalize;
    padding: 5px;
    left: 10px;
    top: 60px;
    background: rgb(4, 99, 114);
    /* color: rgb(0, 0, 0); */
    font-weight: bold;
}

/* Хэрэглэгчийн сэтгэгдлийн хэсэг */

/* ================================================================================================================================================================================================================================ */

#testimonials{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-bottom: 10rem;
}

.testimonial-heading{
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonial-heading h1{
    font-size: 2.2rem;
    font-weight: 500;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

.testimonial-heading span{
    font-size: 1.3rem;
    color: #252525;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.testimonial-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.testimonial-box{
    width: 500px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0);
    background-color: #fff;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}

.profile-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.profile{
    display: flex;
    align-items: center;
}

.name-user{
    display: flex;
    flex-direction: column;
}

.name-user strong{
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.name-user span{
    color: #979797;
    font-size: 0.8rem;
}

.reviews{
    color: #f9d71c;
}

.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.client-comment p{
    font-size: 0.9rem;
    color: #4b4b4b;
}

.testimonial-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
}

@media(max-width:1060px){
    .testimonial-box{
        width: 45%;
        padding: 10px;
    }
}

@media (max-width:790px) {
    .testimonial-box{
        width: 100%;
    }
    .testimonial-heading h1{
        font-size: 1.4rem;
    }
}

@media (max-width:340px) {
    .box-top{
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .reviews{
        margin-top: 10px;
    }
}

/* ::selection{
    color:#ffff;
    background-color: #252525;
} */

/* Нүүр хуудасны Fooder */

/* ================================================================================================================================================================================================================================================================================================================================================== */

footer{
    /* position: absolute; */
    bottom: 0;
    left: 0;
    right: 0;
    background-color:#1995ad;
    height: auto;
    width: 100vw;
    font-family: "Open sans";
    padding-top: 40px;
    color: #ccc;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer- content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3 rem 0;
}

.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #ccc;
}

.socials a i{
    font-size: 1.1rem;
    transition:  color .4s ease;
}

.socials a:hover i{
    color: rgb(51, 63, 63);
}

.footer-bottom{
    background:rgb(4, 99, 114);
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}